<header class="l-header">
    <div class="l-header__inner">
        <div class="l-header__left">
            <img src="<%= basePath %>assets/images/common/logo.svg" alt="キロロ動物病院" class="l-header__logo">
         </div>
        <div class="l-header__right">
            <p class="l-header__text">予約不要・<br class="l-header__text-br">土日診察可能</p>
            <dl class="l-header__tel">
                <dt>お問い合わせ</dt>
                <dd>
                    042-659-7799
                </dd>
            </dl>
            <!-- ドロワーメニューアイコン -->
            <button type="button" id="js-hamburger" class="l-hamburger" aria-controls="js-spMenu" aria-expanded="false"
                aria-label="メニューを開閉する" tabindex="2">
            </button>
        </div>
    </div>
</header>
<!-- ドロワーメニューコンテンツ　-->
<div class="l-drawerNav-wrapper" id="js-spMenu" aria-hidden="true" aria-label="メニューリスト">
    <div class="l-drawerNav-wrapper__title">
        <img src="<%= basePath %>assets/images/drawer_menu.svg" alt="MENU">
    </div>
    <nav class="l-drawerNav">
        <ul class="l-drawerNav__list">
            <li class="l-drawerNav__item">
                <a href="<%= basePath %>">トップページ</a>
                <ul class="l-drawerNav__sublist">
                    <li class="l-drawerNav__subitem"><a href="#" class="l-drawerNav__sublink">病院概要</a></li>
                </ul>
            </li>
            <li class="l-drawerNav__item">
                <a href="<%= basePath %>stay">当院のご紹介</a>
                <ul class="l-drawerNav__sublist">
                    <li class="l-drawerNav__subitem"><a href="#" class="l-drawerNav__sublink">当院の特徴</a></li>
                    <li class="l-drawerNav__subitem"><a href="#" class="l-drawerNav__sublink">スタッフ紹介</a></li>
                    <li class="l-drawerNav__subitem"><a href="#" class="l-drawerNav__sublink">診療情報・アクセス</a></li>
                    <li class="l-drawerNav__subitem"><a href="#" class="l-drawerNav__sublink">施設紹介</a></li>
                </ul>
            </li>
            <li class="l-drawerNav__item">
                <a href="<%= basePath %>foodexperience">診療案内</a>
                <ul class="l-drawerNav__sublist">
                    <li class="l-drawerNav__subitem"><a href="#" class="l-drawerNav__sublink">予防医療</a></li>
                    <li class="l-drawerNav__subitem"><a href="#" class="l-drawerNav__sublink">健康診断</a></li>
                    <li class="l-drawerNav__subitem"><a href="#" class="l-drawerNav__sublink">去勢避妊手術</a></li>
                    <li class="l-drawerNav__subitem"><a href="#" class="l-drawerNav__sublink">診療科目紹介</a></li>
                    <li class="l-drawerNav__subitem"><a href="#" class="l-drawerNav__sublink">セカンドオピニオン</a></li>
                </ul>
            </li>
            <li class="l-drawerNav__item">
                <a href="<%= basePath %>system">ペットホテル</a>
            </li>
            <li class="l-drawerNav__item">
                <a href="<%= basePath %>koyaruzawa">お知らせ</a>
            </li>
            <li class="l-drawerNav__item">
                <a href="<%= basePath %>into-nature">スタッフブログ</a>
            </li>
            <li class="l-drawerNav__item">
                <a href="<%= basePath %>into-nature">求人情報</a>
            </li>
        </ul>

    </nav>
    <div class="l-drawerNav-wrapper__bottom">
        <img src="<%= basePath %>assets/images/drawer_text.svg" class="l-drawerNav-wrapper__open" alt="予約不要・土日診察可能" width="188" height="16">
        <img src="<%= basePath %>assets/images/drawer_logo.svg" class="l-drawerNav-wrapper__logo" alt="桜新町動物医療センター" width="219" height="54">
        <div class="l-drawerNav-wrapper__tel">
            <img src="<%= basePath %>assets/images/icon-tel@2x.png" alt="電話番号" width="34" height="34">
            03-6413-9982
        </div>
    </div>
</div>
</div>
<div class="l-drawerBackground" id="js-drawerBackground" aria-hidden="true" aria-label="スマホ用メニューの背景"
    role="presentation"></div>
<!-- ドロワーメニュー ends-->